.starWarsBody {
  font-family: "Roboto";
  position: relative;
  z-index: 9;
  background-color: black;
  height: 100vh;
}

.border {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 450px;
}

.desc {
  color: #ffc909;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0) rotateX(15deg);
}

.desc h1,
h2 {
  text-align: center;
  padding-bottom: 2rem;
}

/* @keyframes scroll {
  from {
    top: 0;
    transform: translateZ(0) rotateX(15deg);
  }
  to {
    top: -4000px;
    transform: translateZ(-2000px) rotateX(17deg);
  }
} */

/* @supports (animation-timeline: works) {
  .desc {
    animation: 80s linear forwards;
    animation-timeline: scrollup-timeline;
  }

  @scroll-timeline scrollup-timeline {
    time-range: 1s;
  }

  
} */
