.project-body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  max-width: 600px;
  font-family: "Star Wars", sans-serif;
  color: #ffd700;
}

.project-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-display picture {
  max-width: 40%;
  max-height: 40%;
}

.project-display video {
  max-width: 40%;
  max-height: 40%;
}
