@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

.tech-stack {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 5rem;
  margin: auto;
  max-width: 1000px;
  color: white;
  font-family: "Star Wars", sans-serif;
  padding-top: 20rem;
}
