.tech-stack {
  flex-direction: left;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-family: "Star Wars", sans-serif;
  /* background: rgba(0,0,0,.9); */
}
