.Header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5a066e !important;   
    padding: 1rem;
    padding-bottom: .15rem;
}

h1 {
    margin: 0;
}

a {
    margin: 0;
    padding-left: 10%;
    font-size: x-large;
    font-weight: bolder;
}